<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Embedded Sequence Viewer with parameters</title>
    <script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/projects/sviewer/js/sviewer.js"></script>
  </head>

  <body>

    <h2>sequence</h2>
    <div id="rgpj4z" class="SeqViewerApp" width=800 data-autoload>
      <a href="?embedded=true&id=568815587&tracks=[key:sequence_track,name:Sequence,display_name:Sequence,id:STD1,category:Sequence,annots:Sequence,ShowLabel:false,shown:true,order:1]
               [key:gene_model_track,name:Genes,display_name:Genes,id:STD14,category:Genes,annots:Unnamed,Options:ShowAll,SNPs:false,CDSProductFeats:false,NtRuler:true,AaRuler:false,HighlightMode:2,shown:true,order:14]
               &appname=MyCompany_MyApp&mk=9095637:9095645|blabla|008000&assm_context=GCF_000001405.35&v=9095582:9095703&c=666699&select=null&slim=0"></a>

    </div>
  </body>
</html>
