{%extends 'base.html'%}
<!-- begin aditional  -->
{%block head%}

<style>
 .form-control:focus {
     border-color: #025425;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #025425;
 }

 .btn-green {
     background-color: #025425;
     
 }




</style>





{%endblock%}
<!-- end aditional -->


{%block content%}





<div class="row container-fluid justify-content-around comffont">
  <div class="text-center">

    <br/>
    <h1> Protein Kinases</h1>
    <h5> pkinase is a comprehensive Kinase search engine platform integrating Kinase data to allow users to search Kinases, their phosphosites and their associated inhibitors</h5>
  </div>

</div>



{% from '_macros.html' import render_form_field%}



<br/>
<div class="row justify-content-around comffont">

  <!-- KINASES / INHIBITORS  begins  -->        
  <div class="d-flex col-md-6 bg-light">
    <div class="">

      <!-- KINASES begins  -->              
      <form class="form-group col-md-9 round" method="POST" > <!-- align right -->
	<input name="csrf_token" type="hidden" value="{{csrf_token()}}"/>
	<br/>
	<h4> Kinase search</h4>
	{{render_form_field(context.search_form.search_string, placeholder='Eg. "P31749"', class="form-control")}}
	<br/>

	<div>

	  {% with messages = get_flashed_messages(category_filter=['kinase']) %}
	  {% if messages %}
	  <ul class="flashes">
            {% for message in messages %}
            <div class="message_flash">{{ message }}</div>
            {% endfor %}
	  </ul>
	  {% endif %}
	  {% endwith %}
	  <input class="btn btn-success btn-green"  type="submit" value="Search"></input>
          <i class="fa fa-search" title="Edit"></i>
	</div>
      </form>
      <!-- KINASES ends  -->              
      
      <!-- INHIBITORS FORM begins  -->      
      <form class="form-group col-md-9 round" method="POST" > 
	<input name="csrf_token" type="hidden" value="{{csrf_token()}}"/>
	<br/>
	<h4> Inhibitor search</h4>
	{{render_form_field(context.inhibitor_form.inhibitor_name, placeholder='Eg. Abemaciclib', class="form-control")}}
	<br/>

	<div>

	  {% with messages = get_flashed_messages(category_filter =['inhibitor']) %}
	  {% if messages %}
	  <ul class="flashes">
            {% for message in messages %}
            <div class="message_flash">{{ message }}</div>
            {% endfor %}
	  </ul>
	  {% endif %}
	  {% endwith %}
	  <input class="btn btn-success btn-green"  type="submit" value="Search"></input>
          <i class="fa fa-search" title="Edit"></i>
	</div>
      </form>
      <!-- INHIBITORS FORM ends  -->      
      
    </div>
    <!-- KINASES / INHIBITORS FORM ends  -->      



    


    <br/>



  </div>

  <br/>

  <div class="col-md-5 bg-light mb-2">
    <br/>
    <h4>Phosphoproteomics Data Upload</h4>
    <!-- MODAL begins -->
    <!-- Button trigger modal -->

    
    <br/>
    <p>Thresholds for Volcano plot:</p>
    <form name="sent_data" class="form-group col-md-6" method="POST" enctype="multipart/form-data"  >

      <input name="csrf_token" type="hidden" value="{{csrf_token()}}"/>

      <p>{{render_form_field(context.uploadfile_form.threshold_pval, class="form-control")}}</p>
      <p>{{render_form_field(context.uploadfile_form.threshold_foldchange, class="form-control")}}</p>
      <p>{{render_form_field(context.uploadfile_form.uploaded_file)}}</p>
      <p><small>* Upload a ".tsv" file</small></p>
      <input class="btn btn-success btn-green" type="submit" value="Send"/>
      <i class="fa fa-paper-plane" aria-hidden="true"></i>

    </form>

    <button type="button" class="btn btn-success btn-green btn-sm" data-toggle="modal" data-target="#inhib_modal_{{inhib}}">
      <strong>More info</strong>
    </button>

    
    <!-- Modal -->
    <div class="modal fade" id="inhib_modal_{{inhib}}" tabindex="-1" role="dialog"
	 aria-labelledby="inhib_modal_{{inhib}}Title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <h5 class="modal-title" id="exampleModalLongTitle">Phosphoproteomics analysis</h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
	    <p>Our site is able to accept and process quantitative phosphoproteomics data in a tab-separated values
	      file format (.tsv) only. The file can contain more than one inhibitor. The desired phosphoproteomics dataset to be uploaded on our site must be
	      structured in a specific format. An example of an acceptable .tsv file structure is shown below:</p> 
	    <div class="text-center">
	      <img alt="uploaded file header" width="420" src="/static/img/uploaded_header.png"/>
	      <p><small><em>*Adequate column header is important. As shown, the name of the used inhibitor(s) should be included in the header.</em></small></p>


	    
	    
	    
	  </div>
	</div>
      </div>
    </div>
    <!-- MODAL ends -->

</div>

<br/>
<br/>



<br/>




{%endblock%}
