{%extends 'base.html'%}

{%block head%}

<style>

</style>
{%endblock%}


{%block content%}



<div class='container-fluid'>
  <div class='row'>

    <!-- navbar begin -->
    <nav class='col-bg-2  bg-primary  sidebar-100'>
      <ul class='nav flex-column text-light'>
		<li class='nav-item'><a class='nav-link text-light' href="#section-information">General information</a></li>
		<li class='nav-item'><a class='nav-link text-light' href="#section-genomic-information">Genomic location</a></li>
        {%if context.function_list%}
		<li class='nav-item'><a class='nav-link text-light' href="#section-function">Function</a></li>
        {%endif%}
        {%if context.reactions_list%}
		<li class='nav-item'><a class='nav-link text-light' href="#section-reactions">Reactions</a></li>
        {%endif%}
        {%if context.diseases.shape[0] > 1%}
		<li class='nav-item'><a class='nav-link text-light' href="#section-diseases">Diseases</a></li>
        {%endif%}
        {%if context.cell_loc_list%}
		<li class='nav-item'><a class='nav-link text-light' href="#section-cell_location">Cellular location</a></li>
        {%endif%}
		<li class='nav-item'><a class='nav-link text-light' href="#section-phosphosites">Phosphosites</a></li>
		<li class='nav-item'><a class='nav-link text-light' href="#section-browsers">Browsers</a></li>

		<li class='nav-item'><a class='nav-link text-light' href="#section-sequences">Sequences</a></li>

      </ul>
    </nav>
    <!-- navbar ends -->


    <!-- content begin -->
    <div id='content' class='col-md-10'>
      <div  id='section-information'>
		<h2>Information</h2>
	  </div>
