{%extends 'base.html'%}

{%block content%}


<div class='container-fluid'>
  <div class='row'>
    <nav class='col-md-2 bg-primary  sidebar'>
      <ul class='nav flex-column text-light'>
	<li class='nav-item'><a class='nav-link text-light' href="#section-information">General information</a></li>
	<li class='nav-item'><a class='nav-link text-light' href="#section-genomic-information">Genomic location</a></li>
	<li class='nav-item'><a class='nav-link text-light' href="#section-function">Function</a></li>
	<li class='nav-item'><a class='nav-link text-light' href="#section-diseases">Diseases</a></li>
	<li class='nav-item'><a class='nav-link text-light' href="#section-cell_location">Cellular location</a></li>
	<li class='nav-item'><a class='nav-link text-light' href="#section-phosphosites">Phosphosites</a></li>
	<li class='nav-item'><a class='nav-link text-light' href="#section-prot_seq">Sequence</a></li>

      </ul>

    </nav>
    <div id='content' class='col-md-10'>
      <div  id='section-information'>
		<h2>Information</h2>

		<ul>
		  <li>
		    Uniprot ID: <strong> <a href="https://www.uniprot.org/uniprot/{{context.kin_name}}">{{context.kin_name}} </a> </strong>
		  </li>
		  <li> Protein name: {{context.gral_info.loc[0,'prot_name']}}
		    <ul>
		      <li>
			{{context.gral_info.loc[0,'full_prot_name']}}
		      </li>
		      <li>
			{{context.gral_info.loc[0,'name_human']}}
		      </li>
		    </ul>
		  </li>
		  <li>
		    Family:  {{context.gral_info.loc[0,'fasd_name']}}
		  </li>
		  <li>
		    Mass <strong>(Da)</strong>: {{context.gral_info.loc[0,'mass']}}
		  </li>

		  <li> Isoforms: {{context.isoforms}} </li>
		</ul>
      </div>

      <hr/>

      <div id="section-genomic-information">
	<h2 >Genomic location</h2>
	<ul>
	  <li>
	    Chromosome: {{context.gral_info.loc[0,'chromosome'] }}
	  </li>
	  <li>
	    Reverse strand:  {{context.gral_info.loc[0,'reverse'] }}
	  </li>
	  <li>
	    Ensembl ID: <strong> <a href="https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{context.gral_info.loc[0,'ensembl_gene_id']}}"> {{context.gral_info.loc[0,'ensembl_gene_id']}} </a> </strong>
	  </li>
	  <li>
	    Genomic location (<i>Ensembl</i>):
	    <ul>
	      Start:  {{context.gral_info.loc[0,'genome_starts']}} 
	    </ul>
	    <ul>
	      Ends:  {{context.gral_info.loc[0,'genome_ends']}}
	    </ul>
	  </li>
	</ul>
      </div>

      <hr/>
      <div id="section-function">
	<h2 >Function</h2>
	   {%for item in context.function_list%}
	     <p>{{item|safe}}</p>
	   {%endfor%}

	    <hr/>
	  </div>

	  <div id="section-reactions">
	    <h2>Reaction</h2>
	    <ul>
	      {%for reaction in context.reactions_list%}
	      <li>{{reaction}}</li>
	      {%endfor%}
	    </ul>
	  </div>
	  <hr/>
	  <div id="section-diseases">
	    <h2 >Diseases</h2>
	    <ul>
	      {%for i in range(context.diseases.shape[0])%}
	      <li> {{context.diseases.loc[i,'disease_name']}}</li>
	      <p> {{context.diseases.loc[i,'effect_text']}} </p>
	      <ul><li>
		{{context.diseases.loc[i,'disease_description']}}
	      </li></ul>
	      <br/>
	      {%endfor%}
	    </ul>
	  </div>
	  <hr/>

	  <div id="section-cell_location">
	    <h2 >Cellular location</h2>
	    <ul>
	    {%for item in context.cell_loc_list%}
	      <li>{{item}}</li>
	      {%endfor%}
	    </ul>
	    {%for item in context.cell_loc_add_text_list%}
	    <p>{{item | safe}}</p>
	    {%endfor%}
	  </div>
	  <hr/>

	  <div id="section-phosphosites">
	    <h2 >Phosphosites</h2>
	    <table class="table">
	      <tr>
		<th>Residue Position</th>
		<th>Type</th>
		<th>By</th>
		<th>Genom location (starts)</th>
		<th>Genom location (ends)</th>
	      </tr>
	      {%for item in context.phosphosites%}
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      {%endfor%}
	    </table>
	    {%for item in context.cellular_location%}
	    <p>{{item }}</p>
	    {%endfor%}
	  </div>
	  <hr/>


	  <div id="section-sequences">
	    <h2>Sequences</h2>
	    
	    <div class="row">
	      <ul class="nav nav-tabs nav-justified pl-4">
		<li> <a data-toggle="tab" class="btn btn-outline-primary" href="#section-prot_seq">Protein sequence</a>  </li>
		<li><a href="#section-gene_seq" class="btn btn-outline-primary" data-toggle="tab">Gene sequence</a></li>
	      </ul>
	      <div class="ml-auto pr-4">
		<a href="/kinase/{{context.kin_name}}.fasta" >Protein</a>
		<a href="/kinase/gene/{{context.kin_name}}.fasta">Gene</a>
	      </div>
	    </div>
	    
	    <div class="tab-content">

	      <div id="section-prot_seq" class="tab-pane in active  border border-primary">
		
		<div >
		  {%for line in context.prot_seq_list%}
		  <pre>{{line|safe}}</pre>
		  {%endfor%}
		</div>
	      </div>

	      <div id="section-gene_seq" class="tab-pane border border-primary">
		

		{%for line in context.gene_seq_list%}
		<pre>{{line | safe}}</pre>
		{%endfor%}

	      </div>
	      
	    </div>
	  </div>



</div>




</div>


{%endblock%}
