

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">COOL_NAME/ICON</a> <!-- change this -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_content">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar_content">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active dropdown">
		<a class="nav-link dopdown-toggle" data-toggle="dropdown" href="/documentation/general">Documentation</a>
		<div class="dropdown-menu">
		  <a class="dropdown-item" href="/documentation/general">General</a>
		  <a class="dropdown-item" href="/documentation/api">API</a>
		  <a class="dropdown-item" href="/documentation/stats">Statistics</a>
		</div>
      </li>
    </ul>
  </div>




</nav>
