<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Embedded Sequence Viewer with parameters</title>
    <script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script>
    <link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/projects/sviewer/js/sviewer.js"></script>

  </head>

  <body>

    <div id="sviewer_xdz3f" class="SeqViewerApp" data-autoload>
      <a href='{{context.genom_browser_src}}'></a>
    </div>

  </body>

</html>
