{%extends 'base.html'%}

{%block head%}
<script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/projects/sviewer/js/sviewer.js"></script>
<script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script>
<link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>


<style>

 .info_btn{
     background-color:white;
     color:blue;
     border:none;
     text-decoration: none;
 }


</style>


{%endblock%}


{%block content%}




<div class='container-fluid'>
  <div class='row comffont'>

    <!-- navbar begin -->
    <nav class='col-md-2 sidebar-100 comffont' style="background-color: #025425;">
      <ul class='nav flex-column text-light'>
	<li class='nav-item'><a class='nav-link text-light' href="#section-information">General information</a></li>
	<li class='nav-item'><a class='nav-link text-light' href="#section-genomic-information">Genomic location</a></li>
        {%if context.function_list%}
	<li class='nav-item'><a class='nav-link text-light' href="#section-function">Function</a></li>
        {%endif%}
        {%if context.reactions_list%}
	<li class='nav-item'><a class='nav-link text-light' href="#section-reactions">Reactions</a></li>
        {%endif%}
        {%if context.diseases.shape[0] > 1%}
	<li class='nav-item'><a class='nav-link text-light' href="#section-diseases">Diseases</a></li>
        {%endif%}
        {%if context.cell_loc_list%}
	<li class='nav-item'><a class='nav-link text-light' href="#section-cell_location">Cellular location</a></li>
        {%endif%}
	<li class='nav-item'><a class='nav-link text-light' href="#section-phosphosites">Phosphosites</a></li>
	<li class='nav-item'><a class='nav-link text-light' href="#section-browsers">Browsers</a></li>

	<li class='nav-item'><a class='nav-link text-light' href="#section-sequences">Sequences</a></li>

      </ul>
    </nav>
    <!-- navbar ends -->


    <!-- content begin -->
    <div id='content' class='col-md-10'>
      <div  id='section-information'>
	<br/>
	<h2>Information</h2>

	<ul>
	  <li>
	    Uniprot ID: <strong> <a href="https://www.uniprot.org/uniprot/{{context.kin_name}}">{{context.kin_name}} </a> </strong> <sup><a href={{url_for('kinase.fasta_protein',kin_name =context.kin_name )}}>protein</a></sup> <sup><a href={{url_for('kinase.fasta_gene',kin_name =context.kin_name )}}>gene</a></sup>  <sup><a href={{url_for('kinase.kinase_json', kin_name = context.kin_name, columns ="all" )}}>json</a></sup> 
	  </li>
	  <li> Protein name: {{context.gral_info.loc[0,'full_prot_name']}}
	  </li>
	  <li> Gene: {{context.gral_info.loc[0,'prot_name']}}
	    <ul>
	      <li>
		{{context.gral_info.loc[0,'name_human']}}
	      </li>
	    </ul>
	  </li>
	  <li>
	    Family:  {{context.gral_info.loc[0,'fasd_name']}}
	  </li>
	  <li>
	    Mass <strong>(Da)</strong>: {{context.gral_info.loc[0,'mass']}}
	  </li>

	  <li> Isoforms: {%for isof in context.isoforms%}<a href={{url_for('kinase.fasta_protein',kin_name =isof )}}>{{isof}} </a> {%endfor%}</li>

	  <li>
	    Inhibitors:

	    {%for inhib in context.inhibitors%}
	    <a href={{url_for('inhibitor.inhibitor_data',inhib_name = inhib )}}> {{inhib}} </a>

	    <!-- MODAL begins -->
	    <!-- Button trigger modal -->
	    <button type="button" class="info_btn" data-toggle="modal" data-target="#inhib_modal_{{inhib}}">
	      <sup> <strong>i</strong></sup>
	    </button>

	    <!-- Modal -->
	    <div class="modal fade" id="inhib_modal_{{inhib}}" tabindex="-1" role="dialog"
		 aria-labelledby="inhib_modal_{{inhib}}Title" aria-hidden="true">
	      <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
		    <h5 class="modal-title" id="exampleModalLongTitle">{{inhib}}</h5>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
		  <div class="modal-body">
		    <iframe src="/inhibitor/basic_info/{{inhib}}" frameborder="0" width="450" height="200"></iframe>
		  </div>
		</div>
	      </div>
	    </div>
	    <!-- MODAL ends -->

	    {%endfor%}




	  </li>
	</ul>
      </div>

      <hr/>

      <div id="section-genomic-information">
	<h2 >Genomic location</h2>
	<ul>
	  <li>
	    Chromosome: {{context.gral_info.loc[0,'chromosome'] }}
	  </li>
	  <li>
	    Reverse strand:  {{context.gral_info.loc[0,'reverse'] }}
	  </li>
	  <li>
	    Ensembl ID: <strong> <a href="https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{context.gral_info.loc[0,'ensembl_gene_id']}}"> {{context.gral_info.loc[0,'ensembl_gene_id']}} </a> </strong>
	  </li>
	  <li>
	    Genomic location (<i>Ensembl</i>):
	    <ul>
	      Start:  {{context.gral_info.loc[0,'genome_starts']}}
	    </ul>
	    <ul>
	      Ends:  {{context.gral_info.loc[0,'genome_ends']}}
	    </ul>
	  </li>
	</ul>
      </div>

      <hr/>

      {%if context.function_list%}
      <div id="section-function">
	<h2 >Function</h2>
	{%for item in context.function_list%}
	<p>{{item|safe}}</p>
        <br/>
	{%endfor%}

	<hr/>
      </div>

      {%endif%}

      {%if context.reactions_list%}
      <div id="section-reactions">
	<h2>Reaction</h2>
	<ul>
	  {%for reaction in context.reactions_list%}
	  <li>{{reaction}}</li>
	  {%endfor%}
	</ul>
      </div>
      <hr/>
      {%endif%}


      {%if context.diseases.shape[0] > 1%}
      <div id="section-diseases">
	<h2 >Diseases</h2>
	<ul>
	  {%for i in range(context.diseases.shape[0])%}
	  <li> {{context.diseases.loc[i,'disease_name']}}</li>
	  <p> {{context.diseases.loc[i,'effect_text']}} </p>
	  <ul><li>
	    {{context.diseases.loc[i,'disease_description']}}
	  </li></ul>
	  <br/>
	  {%endfor%}
	</ul>
      </div>
      <hr/>
      {%endif%}

      {%if context.cell_loc_list%}
      <div id="section-cell_location">
	<h2 >Cellular location</h2>
	<ul>
	  {%for item in context.cell_loc_list%}
	  <li>{{item}}</li>
	  {%endfor%}
	</ul>
	{%for item in context.cell_loc_add_text_list%}
	<p>{{item | safe}}</p>
	{%endfor%}
      </div>
      <hr/>
      {%endif%}

      <div id="section-phosphosites">
	<div>
	  <h2>Phosphosites <button type="button" style="width:'10px'; height:'10px'"  class="info_btn" data-toggle="popover" title="Information" data-content="In the tab 'Phosphosites  in {{context.kin_name}}', are shown the phosphosites of the protein itself. In the 'Target Phosphosites' tab, are shown the phosphosites that the kinase phosphorilates; when clicking in Uniprot ID, Protvista is shown bellow.">
	    <sup> <strong>i</strong></sup>
	  </button>
	  </h2>
	</div>

	<div class="row">
	  <ul class="nav nav-tabs nav-justified pl-4">
	    <li> <a data-toggle="tab" class="btn btn-outline-primary" href="#section-phosphosites-own">Phosphosites  in {{context.kin_name}} </a>  </li>
	    <li><a href="#section-phosphosites-target" class="btn btn-outline-primary" data-toggle="tab">Target Phosphosites</a></li>
	  </ul>

	</div>
	<div class="tab-content">
	  <div id="section-phosphosites-own" class="tab-pane in active">

	    {%if context.phosphosites.shape[0] == 0%}
	    <br/>
	    <p>No phosphosites found in {{context.kin_name}} </p>
	    
	    {%else%}
	    <table class='table sortable'>
	      <thead>
		<tr>
		  <th>Position</th>
		  <th>Modification</th>
		  <th>Modified by</th>
		  <th>Genomic location (starts)</th>
		  <th>Genomic location (ends)</th>
		</tr>
	      </thead>
	      {%for i in range(context.phosphosites.shape[0])%}
	      <tr>
		<td>{{context.phosphosites.loc[i,'residue_position']}}</td>
		<td>{{context.phosphosites.loc[i,'modif']}}</td>
		<td>{{context.phosphosites.loc[i,'type_modif']}}</td>
		<td>{{context.phosphosites.loc[i,'genom_begin']}}</td>
		<td>{{context.phosphosites.loc[i,'genom_end']}}</td>
	      </tr>
	      {%endfor%}
	    </table>
	    {%endif%}
	    
	  </div>


	  <div id="section-phosphosites-target" class="tab-pane border">

	    {%if context.targets.shape[0] == 0%}
	    <br/>
	    <p>No target phosphosites found for {{context.kin_name}} </p>
	    
	    {%else%}

	    <table class="table sortable">
	      <thead>
		<tr>
		  <th>Uniprot ID </th>
		  <th>Gene</th>
		  <th>Modified residue</th>
		  <th>Residues</th>
		</tr>
	      </thead>

	      {%for i in range(context.targets.shape[0])%}
	      <tr>
		<td><form method="GET" action="">
		  <input class="btn" type="button" name="My button" value="{{context.targets.loc[i,'sub_acc_id']}}" onClick="clic_protvista(this);">
		</form></td>
		<td>{{context.targets.loc[i,'sub_gene']}}</td>
		<td>{{context.targets.loc[i,'sub_mod_rsd']}}</td>
		{%from '_macros.html' import sequence_7aa%}
		<td>{{sequence_7aa(context.targets.loc[i,'site_7_aa'])}}</td>
	      </tr>
	      {%endfor%}
	    </table>
	    {%endif%}
	  </div>
	  <hr/>


	  <div>
	    <h2 id="protvista_target"></h2>
	    <div id="protvista_uniprot_onclick">

	    </div>
	  </div>

	  <hr/>

	  <br/>

	  <div id="section-browsers">
	    <h2>Browser  <button type="button" style="width:'10px'; height:'10px'"  class="info_btn" data-toggle="popover" title="Information" data-content="This section shows the phosphosites located in {{context.kin_name}}, by its positions in the protein and its positions in the gene.">
	      <sup> <strong>i</strong></sup>
	    </button>
	    </h2>
	    <br/>
	    <h3>Uniprot ProtVista 
	    </h3>
	    <div id="protvista_uniprot"></div>

	    <br/>

	    <h3>NCBI Genome Viewer</h3>
	    <br/>
	    <div>
	      <iframe frameborder="0" height="400"  width="900" src={{url_for('kinase.genome_viewer', uniprot_id=context.kin_name)}}></iframe>
	      {{url_for('kinase.genome_viewer', uniprot_id=context.kin_name)}}
	    </div>
	  </div>

	  <br/>
	  <hr/>
	  <div id="section-sequences">
	    <h2>Sequences</h2>

	    <div class="row">
	      <ul class="nav nav-tabs nav-justified pl-4">
		<li> <a data-toggle="tab" class="btn btn-outline-primary" href="#section-prot_seq">Protein sequence</a>  </li>
		<li><a href="#section-gene_seq" class="btn btn-outline-primary" data-toggle="tab">Gene sequence</a></li>
	      </ul>
	      <div class="ml-auto pr-4">
		Fasta:
		<a href={{url_for('kinase.fasta_protein',kin_name =context.kin_name )}} >Protein</a>
		<a href={{url_for('kinase.fasta_gene',kin_name =context.kin_name )}}>Gene</a>

	      </div>
	    </div>

	    <div class="tab-content">

	      <div id="section-prot_seq" class="tab-pane in active  border border-primary">

		<div >
		  {%for line in context.prot_seq_list%}
		  <pre>{{line|safe}}</pre>
		  {%endfor%}
		</div>
	      </div>

	      <div id="section-gene_seq" class="tab-pane border border-primary">


		{%for line in context.gene_seq_list%}
		<pre>{{line | safe}}</pre>
		{%endfor%}

	      </div>

	    </div>
	  </div>



	</div>

	<!-- content ends -->


      </div>
    </div>
  </div>
</div>
</div>


{%endblock%}


{%block scripts%}


<script id="protvista_self_uniprot">
 window.onload = function() {
     var protvista_uniprot = document.getElementById('protvista_uniprot');
     var ProtVista = require('ProtVista');
     var instance = new ProtVista({
	 el: protvista_uniprot,
	 uniprotacc: '{{context.kin_name|safe}}',

	 //These categories will **not** be rendered at all
	 exclusions: [ 'STRUCTURAL', 'TOPOLOGY', 'MUTAGENESIS', 'MOLECULE_PROCESSING', 'PROTEOMICS']
     });
 }
</script>


<script language="JavaScript" id="protvista_target_onclick">
 function clic_protvista(element)
 {
     var protvista_uniprot_onclick = document.getElementById('protvista_uniprot_onclick');
     var ProtVista = require('ProtVista');
     var instance = new ProtVista({
	 el: protvista_uniprot_onclick,
	 uniprotacc: element.value,
	 //These categories will **not** be rendered at all
	 exclusions: [ 'STRUCTURAL', 'TOPOLOGY', 'MUTAGENESIS', 'MOLECULE_PROCESSING', 'PROTEOMICS']
     });
     document.getElementById("protvista_target").innerHTML = 'Target: ' + element.value ;
 }
</script>


<!-- popover -->

<script >
 $(function () {
     $('[data-toggle="popover"]').popover()
 })
</script>



<!-- modals -->
<script>
 $('#myModal').on('shown.bs.modal', function () {
     $('#myInput').trigger('focus')
 })
</script>



<!-- sortable -->





{%endblock%}
